<div class="dashboard">
  <h2 class="section-title" style="color:#007bff">Dashboard</h2>
  
  <!-- Tarjetas -->
  <div class="cards-container">
    <div class="card-item">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-map icon"></i>
          <h5 class="card-title">Rutas Activas</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>

    <div class="card-item">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-bus-front icon"></i>
          <h5 class="card-title" >Buses Registrados</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>

    <div class="card-item">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-person icon"></i>
          <h5 class="card-title">Conductores</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>

    <div class="card-item">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-currency-dollar icon"></i>
          <h5 class="card-title">Balance</h5>
          <p class="card-text">$0.00</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Actividades Recientes -->
  <div class="recent-activities">
    <h3 class="table-title" style="color:#007bff">Actividades Recientes</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Actividad</th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2024-11-27</td>
          <td>Registro de nuevo bus</td>
          <td>Detalles del registro</td>
        </tr>
        <tr>
          <td>2</td>
          <td>2024-11-26</td>
          <td>Nuevo conductor asignado</td>
          <td>Detalles del conductor</td>
        </tr>
        <tr>
          <td>3</td>
          <td>2024-11-25</td>
          <td>Ruta activa actualizada</td>
          <td>Detalles de la ruta</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
